.types {
  margin-top: -100px;
  @include tablet768 {
    margin-top: 0;
    margin-bottom: 60px;
  }
  
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .26);

    @include laptop {
      grid-template-columns: 1fr 1fr;
    }
    @include tablet768 {
      grid-template-columns: 1fr;
    }
  }
  &__item {
    position: relative;
    height: 310px;
    padding: 0 55px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    color: $c-main;
    text-align: center;
    border: 1px solid #eaeaea;
    background-color: #fff;

    @include tablet768 {
      padding: 40px 28px;
      height: auto;
      padding-bottom: 30px;
    }

    &-number {
      position: absolute;
      z-index: 0;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 40%;
    }

    &-icon {
      transition: all .3s ease;
      z-index: 2;
    }
    & p {
      z-index: 2;
    }

    & .btn {
      padding: 0;
      overflow: hidden;
      opacity: 0;
      transition: all .3s ease;

      @include tablet768 {
        opacity: 1;
        padding: 15px 20px;
        margin-top: 15px;
        overflow: visible;
      }
    }

    @include hover {
      &:hover {
        // padding-bottom: 0;
        color: $c-primary;
    
        & .title-decore::after {
          background: $c-primary;
          width: 70px;
        }
    
        & .btn {
          padding: 15px 20px;
          margin-top: 15px;

          transform: matrix(1, 0, 0, 1, 0, 0);
          -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          -ms-transform: matrix(1, 0, 0, 1, 0, 0);
          -moz-transform: matrix(1, 0, 0, 1, 0, 0);
          -o-transform: matrix(1, 0, 0, 1, 0, 0);
          opacity: 1;
        }

        & .types__item-icon {
          fill: $c-primary;
          transform: matrix(1, 0, 0, 1, 0, 0);
          -moz-transform: matrix(1, 0, 0, 1, 0, 0);
          -ms-transform: matrix(1, 0, 0, 1, 0, 0);
          -o-transform: matrix(1, 0, 0, 1, 0, 0);
          -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        }
      }
    }
  }

  & .title-decore::after {
    transition: width .3s ease;
  }
}